@{
    ViewData["Title"] = "Home Page";
}

<form method="POST" action="/Home/Login">
    <br />
    <div class="form-group">
        <input type="text" class="form-control" name="Email"/>
    </div>
    <br />
    <div class="form-group">
        <input type="password" class="form-control" name="Password"/>
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
</form>